@import "./common", "./animation", "./mediaQueries";

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80%;
    border-radius: 5px;

    @include devices(mdm) {
        height: 96%;
    }

    .content-relative {
        position: relative;
        width: 82%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;

        @include devices(mdm) {
            flex-direction: column;
            width: 86%;
        }
    }

    .fadeToLeft {
        animation: fadeToLeft 0.4s ease-in-out forwards;
    }

    .fadeToRight {
        animation: fadeToRight 0.8s ease-in-out forwards;
    }

    header {
        width: 6.5%;
        height: 50%;
        min-width: fit-content;
        padding: 0 9px;
        border-radius: 0 5px 5px 0;
        position: relative;
        transition: 0.6s all ease-in-out;

        @include devices(mdm) {
            height: 16%;
            width: 100%;
            order: 3;
            padding: 0;
            border-radius: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav {
            width: 100%;
            height: 100%;
            background: $white;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include devices(mdm) {
                border-radius: 50px;
                height: 70%;
            }

            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                @include devices(mdm) {
                    flex-direction: row;
                    justify-content: space-between;
                    width: 80%;
                }

                @include devices(sml) {
                    width: 86%;
                }

                li {
                    display: flex;
                    height: 33%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);

                        @include devices(mdm) {
                            display: none;
                        }
                    }

                    &:nth-child(4) {
                        &::after {
                            display: none;
                        }
                    }

                    i {
                        transition: 0.3s all ease-in-out;
                        font-size: 1.3em;
                    }

                    a {
                        font-weight: 500;
                        font-size: 0.9em;
                        color: $black;
                        transition: 0.3s all ease-in-out;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        @include devices(mdm) {
                            font-size: 1.2em;
                        }

                        @include devices(sml) {
                            font-size: 0.9em;
                        }

                        &:hover {
                            color: $middle-orange;

                            i {
                                color: $middle-orange;
                            }
                        }
                    }
                }
            }
        }
    }

    .container {
        width: 63.5%;
        height: 100%;
        background: #ffffffea;
        padding: 2% 3% 1% 4%;
        overflow-y: scroll;
        border-radius: 5px;

        @include devices(mdm) {
            order: 2;
            width: 100%;
            margin-top: 4%;
            padding: 7%;
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: #d9d9d9;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #a6a6a6;
        }

        .section_title {
            font-size: 1.1em;
            font-weight: 600;
            color: $dark-orange;
            position: relative;
            width: 100%;

            &::before {
                position: absolute;
                content: "";
                width: 5%;
                height: 100%;
                border-radius: 50%;
                left: -1.5%;
                top: -12%;
                background: rgb(237, 112, 20);
                background: linear-gradient(
                    150deg,
                    rgba(237, 112, 20, 1) 0%,
                    rgba(255, 179, 123, 1) 29%,
                    rgba(255, 251, 249, 1) 100%
                );

                @include devices(mdm) {
                    width: 6%;
                }

                @include devices(sml) {
                    width: 12%;
                    top: -15%;
                    left: -3%;
                }
            }

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                left: -5%;
                background: radial-gradient(ellipse at left, #a5a5a5 0%, rgba(255, 255, 255, 0) 70%);
            }

            h1 {
                margin-bottom: 5px;
                font-size: 1.3em;
                position: relative;

                @include devices(sml) {
                    font-size: 1.2em;
                }

                span {
                    color: $lighter-dark-orange;
                }
            }
        }

        .intro_sect {
            display: block;

            .intro_sect_about {
                p {
                    margin-top: 20px;
                    line-height: 1.7em;

                    @include devices(sml) {
                        font-size: 0.9em;
                    }

                    span {
                        font-weight: 500;
                        font-size: 1.2em;
                    }
                }

                .biometric-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 90%;
                    margin-top: 30px;

                    @include devices(mdm) {
                        flex-direction: row;
                        text-align: left;
                        width: 100%;
                        margin-top: 20px;
                    }

                    @include devices(sml) {
                        flex-direction: column;

                        .left-wrap {
                            width: 100%;
                        }

                        .right-wrap {
                            width: 100%;
                        }
                    }

                    h2 {
                        font-size: 1em;
                        font-weight: 700;
                        color: $black;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        margin-bottom: 10px;

                        @include devices(mdm) {
                            margin-bottom: 5px;
                            letter-spacing: normal;
                        }

                        .dot-wrap {
                            letter-spacing: 5px;
                            font-weight: 800;
                            color: $dark-purple;

                            // @include devices(sml) {
                            //     letter-spacing: 4px;
                            // }

                            @include devices(mdm) {
                                letter-spacing: 4px;
                            }
                        }

                        .data-wrap {
                            font-weight: 600;
                            text-transform: capitalize;
                        }
                    }
                }
            }

            .services-wrap {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                position: relative;

                &::after {
                    content: "";
                    width: 1px;
                    height: 100%;
                    left: 50%;
                    position: absolute;
                    background: radial-gradient(ellipse at top, #dddddd 0%, rgba(255, 255, 255, 0) 70%);

                    @include devices(sml) {
                        display: none;
                    }
                }

                .service {
                    width: 50%;
                    padding: 5% 3% 4% 0;
                    position: relative;

                    @include devices(sml) {
                        width: 100%;
                        padding: 6% 0;
                    }

                    &::after {
                        content: "";
                        width: 90%;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                    }

                    i {
                        font-size: 2.2em;
                        color: $middle-orange;
                        margin-bottom: 10px;
                        padding: 4% 3%;
                        border-radius: 50%;
                        background: rgb(237, 112, 20);
                        background: linear-gradient(
                            166deg,
                            rgba(237, 112, 20, 0.3014546883206407) 0%,
                            rgba(255, 255, 255, 0.20061435218618695) 100%
                        );
                    }

                    h2 {
                        font-size: 1em;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 1px;

                        span {
                            color: $dark-purple;
                            text-decoration: underline;
                            text-decoration-thickness: 3px;
                        }
                    }

                    .service-content {
                        margin-top: 5px;
                        p {
                            font-size: 0.9em;
                            // color: #605f5f;
                        }
                    }

                    &:nth-child(2),
                    &:nth-child(4) {
                        padding-left: 4%;

                        @include devices(sml) {
                            padding-left: 0;
                        }
                    }
                }

                .service:nth-child(4) > .service-title-wrap > i {
                    padding: 4%;
                }
            }

            .pricing-wrap {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;
                position: relative;

                @include devices(sml) {
                    flex-direction: column;
                }

                // &::after {
                //     content: "";
                //     width: 1px;
                //     height: 100%;
                //     left: 50%;
                //     position: absolute;
                //     background: radial-gradient(ellipse at top, #dddddd 0%, rgba(255, 255, 255, 0) 70%);

                //     @include devices(mdm) {
                //         display: none;
                //     }
                // }

                .pricing {
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    padding: 0% 2%;

                    // @include devices(sml) {
                    //     width: 100%;
                    //     padding: 0;

                    //     &:nth-child(2) {
                    //         margin-top: 40px;
                    //     }
                    // }

                    .pricing-content {
                        position: relative;
                        padding: 5% 2% 7% 2%;

                        @include devices(sml) {
                            padding: 7% 0 5% 0;
                        }

                        &::after {
                            content: "";
                            width: 90%;
                            height: 1px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                        }
                    }

                    i {
                        font-size: 2.2em;
                        color: $middle-orange;
                        margin-bottom: 10px;
                    }

                    h2,
                    h3 {
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }

                    h2 {
                        font-size: 1.5em;
                    }

                    h3 {
                        font-size: 1em;
                        margin-top: 10px;
                        color: $dark-purple;

                        @include devices(sml) {
                            font-size: 0.9em;
                        }
                    }

                    ul {
                        margin: 0 auto;
                        margin-top: 20px;
                        text-align: left;
                        width: 70%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        @include devices(mdm) {
                            width: 80%;
                        }

                        @include devices(sml) {
                            width: 90%;
                            flex-direction: column;
                        }

                        li {
                            font-size: 1em;
                            margin-bottom: 10px;
                        }

                        li:before {
                            content: "\2714\0020";
                            font-weight: 900;
                            margin-right: 7px;
                            color: $middle-orange;
                        }
                    }

                    button {
                        margin-top: 20px;
                        padding: 10px 20px;
                        border-radius: 5px;
                        letter-spacing: 1px;
                        border: none;
                        background: $dark-purple;
                        color: #ffffff;
                        font-size: 0.9em;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        @include devices(mdm) {
                            margin: 0;
                        }

                        &:hover {
                            background: $lighter-dark-purple;
                        }
                    }
                }
            }

            .fun-fact-wrap {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                flex-wrap: wrap;
                position: relative;

                .fun-fact {
                    width: 25%;
                    min-height: 100%;
                    padding: 5% 3%;
                    position: relative;

                    @include devices(sml) {
                        width: 50%;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        width: 2px;
                        height: 100%;
                        top: 0;
                        right: 0;
                        background: radial-gradient(ellipse at top, #dddddd 0%, rgba(255, 255, 255, 0) 70%);

                        @include devices(sml) {
                            display: none;
                        }
                    }

                    h3 {
                        margin-top: 12px;

                        @include devices(sml) {
                            margin-top: 3px;
                            font-weight: 600;
                        }
                    }

                    i {
                        font-size: 2.2em;
                        color: $middle-orange;
                        margin-bottom: 10px;

                        &:nth-child(2),
                        &:nth-child(4) {
                            color: $dark-purple;
                        }
                    }

                    h2 {
                        font-size: 1em;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 1px;

                        @include devices(sml) {
                            font-size: 0.9em;
                        }
                    }

                    h3 {
                        font-size: 1.2em;

                        @include devices(mdm) {
                            font-size: 1.1em;
                        }

                        @include devices(sml) {
                            font-size: 1em;
                        }

                        span {
                            color: $dark-purple;
                        }
                    }
                }
            }
        }

        .resume_sect {
            display: none;

            .title {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                position: relative;
                padding: 20px 20px 20px 0;

                @include devices(sml) {
                    padding: 20px 0 10px 0;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                    margin-left: 10px;
                }

                i {
                    font-size: 2em;
                    color: $dark-orange;

                    @include devices(sml) {
                        font-size: 1.8em;
                    }
                }

                h2 {
                    margin-left: 10px;
                    font-weight: 500;
                    font-size: 1.1em;

                    @include devices(sml) {
                        font-size: 1em;
                    }
                }
            }

            .resume_wrap {
                .work_education_wrap {
                    display: flex;
                    justify-content: space-between;
                    position: relative;

                    @include devices(sml) {
                        flex-direction: column;
                    }

                    .grey {
                        color: #999;
                        border-color: #999 !important;
                    }

                    &:after {
                        content: "";
                        width: 2px;
                        height: 100%;
                        left: 50%;
                        top: 0;
                        position: absolute;
                        background: radial-gradient(
                            ellipse at top,
                            darken(#dddddd, 10%) 0%,
                            rgba(255, 255, 255, 0) 70%
                        );

                        @include devices(sml) {
                            display: none;
                        }
                    }

                    .resume {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;

                        @include devices(sml) {
                            width: 100%;
                        }

                        &:nth-child(2) {
                            padding-left: 5%;

                            @include devices(sml) {
                                padding-left: 0;
                            }
                        }

                        .resume_box {
                            padding: 7% 5% 7% 0;
                            position: relative;

                            @include devices(sml) {
                                padding: 5% 0;
                            }

                            &::after {
                                content: "";
                                width: 100%;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                position: absolute;
                                background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                                margin-left: 10px;
                            }

                            h3 {
                                width: fit-content;
                                padding: 1px 5px;
                                border-radius: 5px;
                                font-size: 0.8em;
                                font-weight: 400;
                                border: 1px solid $dark-orange;
                            }

                            h4 {
                                font-size: 1.1em;
                                font-weight: 800;
                                margin-top: 10px;

                                @include devices(sml) {
                                    font-size: 1em;
                                }

                                a {
                                    i {
                                        transition: all 0.3s ease-in-out;
                                    }
                                    &:hover {
                                        i {
                                            color: $dark-orange;
                                        }
                                    }
                                }
                            }

                            h5 {
                                font-size: 0.9em;
                                font-weight: 400;
                                margin-bottom: 10px;
                                color: #656565c1;
                            }

                            p {
                                font-size: 1em;
                                font-weight: 500;
                                line-height: 1.7em;

                                @include devices(sml) {
                                    font-size: 0.9em;
                                }

                                span {
                                    color: $dark-purple;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }

            .abilities_wrap {
                width: 100%;

                .ability_wrap {
                    position: relative;

                    .ability {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;

                        &:nth-child(2) {
                            .ability_box {
                                padding: 0 3% 5% 0;
                            }
                        }

                        .ability_box {
                            min-width: 50%;
                            max-width: 50%;
                            padding: 3% 3% 5% 0;
                            position: relative;

                            @include devices(sml) {
                                min-width: 100%;
                                max-width: 100%;
                                padding: 3% 0 5% 0;
                            }

                            &:nth-child(2) {
                                padding-left: 5%;

                                @include devices(sml) {
                                    padding-left: 0;
                                }

                                @include devices(mdm) {
                                    padding-right: 0;
                                }
                            }

                            &:nth-child(1) {
                                &::before {
                                    content: "";
                                    width: 2px;
                                    height: 100%;
                                    right: 0;
                                    top: 0;
                                    position: absolute;
                                    background: radial-gradient(
                                        ellipse at top,
                                        darken(#dddddd, 10%) 0%,
                                        rgba(255, 255, 255, 0) 70%
                                    );

                                    @include devices(sml) {
                                        display: none;
                                    }
                                }
                            }
                        }

                        .knowledge {
                            ul {
                                display: flex;
                                justify-content: flex-start;
                                flex-direction: column;
                                margin-top: 20px;
                                width: 100%;

                                @include devices(sml) {
                                    margin-top: 5px;
                                }

                                .li_i_wrap {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    padding: 3% 0%;

                                    i {
                                        font-size: 1.4em;
                                        color: $lighter-dark-purple;
                                        font-weight: bold;
                                        margin-right: 20px;
                                        text-align: center;

                                        @include devices(sml) {
                                            font-size: 1.2em;
                                            margin-right: 10px;
                                        }
                                    }

                                    li {
                                        font-size: 1.1em;
                                        font-weight: 600;
                                        line-height: 1.5em;
                                        color: #303030;

                                        @include devices(sml) {
                                            font-size: 1em;
                                        }
                                    }
                                }
                            }
                        }

                        .technology {
                            padding-right: 5%;

                            @include devices(sml) {
                                padding-right: 0;
                            }

                            .progress_box {
                                width: 100%;
                                padding: 8% 4%;
                                position: relative;

                                @include devices(mdm) {
                                    padding: 8% 0;
                                }

                                @include devices(sml) {
                                    padding: 6% 0;
                                }

                                &::after {
                                    content: "";
                                    width: 100%;
                                    height: 1px;
                                    bottom: 0;
                                    left: 0;
                                    position: absolute;
                                    background: radial-gradient(
                                        ellipse at center,
                                        #dddddd 0%,
                                        rgba(255, 255, 255, 0) 70%
                                    );
                                    margin-left: 10px;

                                    @include devices(sml) {
                                        display: none;
                                    }
                                }

                                &:last-child {
                                    &:after {
                                        display: none;
                                    }
                                }

                                .progress_title {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    width: 100%;
                                    font-size: 0.9em;

                                    @include devices(sml) {
                                        font-size: 0.8em;
                                    }

                                    & > * {
                                        color: #303030;
                                    }
                                }

                                .progress {
                                    width: 100%;
                                    height: 6px;
                                    background: #dddddd;
                                    border-radius: 5px;
                                    margin-top: 5px;
                                    position: relative;

                                    .progress_bar {
                                        position: absolute;
                                        height: 100%;
                                        background: $lighter-dark-purple;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }

                        .soft_skills {
                            ul {
                                .li_i_wrap {
                                    width: 100%;
                                    padding: 2% 7% 6% 4%;
                                    margin-top: 10px;
                                    position: relative;

                                    @include devices(mdm) {
                                        padding: 2% 4% 4% 0;
                                        margin-top: 5px;
                                    }

                                    .grey-btn {
                                        color: #9a9a9a93 !important;
                                    }

                                    &::after {
                                        content: "";
                                        width: 100%;
                                        height: 1px;
                                        bottom: 0;
                                        left: 0;
                                        position: absolute;
                                        background: radial-gradient(
                                            ellipse at center,
                                            #dddddd 0%,
                                            rgba(255, 255, 255, 0) 70%
                                        );
                                        margin-left: 10px;
                                    }

                                    &:last-child {
                                        &:after {
                                            display: none;
                                        }
                                    }

                                    li {
                                        font-size: 1.05em;
                                        font-weight: bold;
                                        color: #303030;

                                        @include devices(sml) {
                                            font-size: 1em;
                                        }
                                    }

                                    .progress_btns_wrap {
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        margin-top: 7px;

                                        i {
                                            color: $lighter-dark-purple;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }

                        .language {
                            .flex {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: center;
                                height: 75%;
                                width: 100%;

                                @include devices(sml) {
                                    height: 100%;
                                }

                                .upper-wrap,
                                .bottom-wrap {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin-top: 30px;

                                    @include devices(sml) {
                                        margin-top: 15px;
                                    }
                                }
                            }

                            .circle-wrap {
                                width: 100%;
                                height: 100%;
                                padding: 0% 5%;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                text-align: center;

                                h2 {
                                    font-size: 1.1em;
                                    font-weight: 600;
                                    color: #303030;
                                    margin: 10px 0;

                                    @include devices(sml) {
                                        font-size: 1em;
                                    }
                                }

                                .outer-circle {
                                    width: 86%;
                                    height: 100%;
                                    border-radius: 50%;
                                    background-color: $white;
                                    display: flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    align-items: center;
                                    position: relative;

                                    @include devices(sml) {
                                        width: 76%;
                                    }

                                    .inner-circle {
                                        width: 83%;
                                        height: 83%;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        flex-direction: column;
                                        border-radius: 50%;
                                        background-color: #efefef;
                                        text-align: center;

                                        span {
                                            font-size: 1.1em;
                                            font-weight: bold;
                                            color: #303030;
                                            margin: 10px 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .project_sect {
            display: none;

            .construction_wrap {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .left,
                .right {
                    height: 100%;
                }

                .left {
                    width: 80%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .right {
                    width: 100%;
                    height: 30%;
                    h1 {
                        font-size: 2em;
                        font-weight: 600;
                        color: $dark-purple;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        text-align: center;

                        @include devices(mdm) {
                            font-size: 3em;
                        }

                        @include devices(sml) {
                            font-size: 1.5em;
                        }
                    }
                }
            }

            .project_wrap {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .projects {
                display: flex;
                flex-direction: column;
                width: 47%;
                height: fit-content;
                padding: 8px 15px 15px 15px;
                border: 1px solid black;
                border-radius: 5px;
                margin-top: 10px;
                background-color: $light-middle-orange;
                cursor: pointer;

                &:hover{
                    background-color: $lightest-orange;
                    transition: all 0.5s;
                    

                    & > .project-links a {
                        color:$dark-orange;
                        transition: all 0.5s;
                    }
                }

                div{
                    margin-top: 10px;
                }

                .project-links {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $black;

                    span {
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: $black;
                    }
                }

                .desc{
                    font-size: 0.9em;
                }

                .tags {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    font-size: 0.8em;

                    span {
                        border: 1px solid $black;
                        background-color: $black;
                        color: $white;
                        border-radius: 8px;
                        padding: 2px 4px;
                        margin-top: 5px;
                        margin-right: 5px;
                    }

                    .azure{
                        border: 1px solid $azure;
                        background-color: $azure;
                    }
                    .iac{
                        border: 1px solid $lighter-dark-purple;
                        background-color: $lighter-dark-purple;
                    }
                }
            }
        }

        .contact_sect {
            width: 100%;
            height: 100%;
            display: none;

            .map_wrap {
                min-height: 50%;
                padding-right: 3%;

                @include devices(mdm) {
                    padding-right: 0;
                    padding-bottom: 50px;
                }

                .map {
                    margin-top: 20px;

                    iframe {
                        @include devices(sml) {
                            height: 200px;
                        }
                    }
                }

                .address-contact {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-top: 20px;

                    div {
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        @include devices(sml) {
                            width: 100%;
                            margin-top: 10px;
                        }

                        h2 {
                            font-size: 1em;
                            font-weight: 700;
                            padding: 2% 3%;
                            color: $black;
                            text-transform: uppercase;
                            letter-spacing: 1px;

                            @include devices(sml) {
                                font-size: 0.9em;
                                letter-spacing: 0px;
                            }

                            .dot-wrap {
                                letter-spacing: 5px;
                                font-weight: 800;
                                color: $dark-purple;

                                @include devices(sml) {
                                    letter-spacing: 3px;
                                }
                            }

                            .data-wrap {
                                font-weight: 500;
                                text-transform: none;
                            }

                            a {
                                transition: all 0.2s ease-in-out;
                                &:hover {
                                    color: $lighter-dark-orange;
                                }
                            }
                        }
                    }
                }
            }

            .email_wrap {
                min-height: 50%;

                form {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 20px;
                    padding-right: 3%;
                    padding-bottom: 5%;

                    .contact_form {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        width: 100%;

                        .top_part {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: row;
                            width: 100%;

                            .contact_input {
                                &:nth-child(1),
                                &:nth-child(2) {
                                    width: 45%;
                                }
                            }
                        }

                        .contact_input {
                            width: 100%;
                            height: 100%;
                            // display: flex;
                            // align-items: center;
                            // justify-content: center;

                            input,
                            textarea {
                                width: 100%;
                                border: 1px solid #dddddd;
                                border-radius: 5px;
                                padding: 0 10px;
                                font-size: 1em;
                                font-weight: 500;
                                color: $black;
                                margin-top: 10px;
                                transition: all 0.3s ease-in-out;

                                &:focus {
                                    border: 1px solid $lighter-dark-orange;
                                }
                            }

                            input[type="text"],
                            input[type="email"] {
                                height: 40px;
                            }

                            textarea {
                                max-height: 150px;
                                resize: none;
                                padding: 1%;

                                @include devices(sml) {
                                    padding: 3%;
                                }
                            }

                            input[type="submit"] {
                                width: 20%;
                                height: 40px;
                                border: none;
                                background-color: $dark-orange;
                                color: $white;
                                cursor: pointer;

                                &:hover {
                                    background-color: $light-orange;
                                }

                                @include devices(sml) {
                                    width: 35%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .my-profile {
        width: 32%;
        height: 100%;
        background: #ffffff;
        transform: scale(110%);
        border-radius: 5px;
        position: relative;

        @include devices(mdm) {
            height: 20%;
            width: 100%;
            transform: none;
        }

        .first-layer-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: -3%;
            top: -2%;
            background: #4a2e6c77;
            border-radius: 5px;
            z-index: -100;

            @include devices(mdm) {
                display: none;
            }
        }

        .profile-wrap {
            position: relative;
            z-index: 100;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-color: #fefefe;

            @include devices(mdm) {
                display: flex;
                flex-wrap: wrap;
            }

            .profile-img {
                position: relative;
                height: 65%;
                width: 100%;
                border-radius: 5px;

                @include devices(mdm) {
                    width: auto;
                    height: 80%;
                    order: 1;
                    flex: 1 0 50%;
                    text-align: center;
                }

                @include devices(sml) {
                    height: 75%;
                }

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    object-fit: cover;

                    @include devices(mdm) {
                        width: auto;
                        height: 100%;
                        margin: 0 auto;
                    }
                }
            }

            .profile-content {
                height: 28%;
                padding: 3% 7%;
                display: flex;
                flex-direction: column;
                text-align: center;

                @include devices(mdm) {
                    height: 80%;
                    order: 2;
                    flex: 1 0 50%;
                    align-items: center;
                    justify-content: center;
                    padding: 3% 0%;
                }

                @include devices(sml) {
                    height: 75%;
                }

                h3 {
                    font-size: calc(1em + 0.6vw);
                    font-weight: 600;
                    text-transform: capitalize;

                    @include devices(mdm) {
                        font-size: calc(1.5em + 0.5vw);
                    }

                    @include devices(sml) {
                        font-size: calc(1em + 0.6vw);
                    }
                }

                h4 {
                    font-size: 1em;
                    min-height: 25px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $dark-orange;
                    margin-top: 15px;

                    @include devices(mdm) {
                        margin-top: 5px;
                        font-size: calc(0.9em + 0.5vw);
                    }

                    @include devices(sml) {
                        font-size: calc(0.8em + 0.5vw);
                    }
                }

                .social-media {
                    margin: 0 auto;
                    margin-top: 15px;
                    width: 30%;
                    display: flex;
                    justify-content: space-between;

                    @include devices(mdm) {
                        width: 50%;
                    }

                    a {
                        font-size: 1.4em;

                        @include devices(mdm) {
                            font-size: calc(1.3em + 0.5vw);
                        }

                        @include devices(sml) {
                            font-size: calc(1em + 0.5vw);
                        }

                        i {
                            transition: 0.3s all ease-in-out;
                        }
                        &:hover {
                            i {
                                color: $lighter-dark-purple;
                            }
                        }
                    }
                }
            }

            .contact-wrap {
                height: 7%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: center;
                position: relative;

                @include devices(mdm) {
                    height: 20%;
                    order: 3;
                    flex: 1 0 100%;
                }

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    top: 0;
                    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                }

                div {
                    width: 50%;
                    height: 100%;
                    padding: 3% 0;

                    @include devices(mdm) {
                        padding: 2% 0 0 0;
                    }

                    i {
                        transition: 0.2s all ease-in-out;
                    }

                    a {
                        letter-spacing: 1px;
                        color: $black;
                        font-size: 0.95em;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        @include devices(mdm) {
                            font-size: calc(0.9em + 0.5vw);
                        }

                        @include devices(sml) {
                            font-size: calc(0.7em + 0.5vw);
                        }

                        &:hover {
                            color: $dark-orange;

                            i {
                                color: $dark-orange;
                            }
                        }
                    }

                    &:nth-child(1) {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "";
                            width: 1px;
                            height: 100%;
                            right: 0;
                            top: 0;
                            background: radial-gradient(ellipse at center, #656565 0%, rgba(255, 255, 255, 0) 70%);
                        }
                    }

                    &:nth-child(2) {
                        border-radius: 0 0 5px 0;
                    }
                }
            }
        }
    }
}
