@import "./common";

@keyframes navColorFade {
    0% {
        background-position: top;
    }

    100% {
        background-position: bottom;
    }
    // 100% {
    //     background-position: 0% 100%;
    // }
    
}

@keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}
