// Primary color
$dark-orange: #ED7014;
$lighter-dark-orange: #f27a25;
$middle-orange: #FA8128;
$light-orange: #f88d41;
$light-middle-orange:#fda172;
$lightest-orange: #f2b799;
$white: #fff;
$black: #1f1f1f;

// Secondary Color
$dark-purple: #452c63;
$lighter-dark-purple: #5e3f7b;
$middle-purple: #a377d9;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color:$black;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background: rgb(69,44,99) no-repeat;
background: linear-gradient(162deg, rgba(69,44,99,1) 0%, rgba(163,119,217,1) 50%, rgba(205,172,246,1) 100%);
}

.margin-top-3-6{
    margin-top: 5em;
}

.auto-align-center{
    margin: 0 auto;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.font-orange{
    color: $dark-orange;
}



