@import "./common", "./animation";

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 80%;
    border-radius: 5px;

    .content-relative {
        position: relative;
        width: 82%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }

    header {
        width: 6.5%;
        height: 50%;
        min-width: fit-content;
        padding: 0 9px;
        border-radius: 0 5px 5px 0;
        position: relative;
        transition: 0.6s all ease-in-out;

        nav {
            height: 100%;
            background: $white;
            width: 100%;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                li {
                    display: flex;
                    height: 33%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &::after {
                        content: "";
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                    }

                    &:nth-child(4) {
                        &::after {
                            display: none;
                        }
                    }

                    i {
                        transition: 0.3s all ease-in-out;
                        font-size: 1.3em;
                    }

                    a {
                        // opacity: 0;
                        font-weight: 500;
                        font-size: 0.9em;
                        color: $black;
                        transition: 0.3s all ease-in-out;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            color: $middle-orange;

                            i {
                                color: $middle-orange;
                            }
                        }
                    }
                }
            }
        }
    }

    .container {
        width: 63.5%;
        height: 100%;
        background: #ffffffea;
        padding: 2% 3% 1% 4%;
        overflow-y: scroll;
        border-radius: 5px;

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: #d9d9d9;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #a6a6a6;
        }

        .section_title {
            font-size: 1.1em;
            font-weight: 600;
            color: $dark-orange;
            position: relative;
            width: 100%;

            &::before {
                position: absolute;
                content: "";
                width: 5%;
                height: 100%;
                border-radius: 50%;
                left: -1.5%;
                top: -12%;
                background: rgb(237, 112, 20);
                background: linear-gradient(
                    150deg,
                    rgba(237, 112, 20, 1) 0%,
                    rgba(255, 179, 123, 1) 29%,
                    rgba(255, 251, 249, 1) 100%
                );
            }

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                left: -5%;
                background: radial-gradient(ellipse at left, #a5a5a5 0%, rgba(255, 255, 255, 0) 70%);
            }

            h1 {
                margin-bottom: 5px;
                font-size: 1.3em;
                position: relative;

                span {
                    color: $lighter-dark-orange;
                }
            }
        }

        .intro_sect {
            display: none;

            .intro_sect_about {
                p {
                    margin-top: 20px;
                    line-height: 1.7em;
                    span {
                        font-weight: 500;
                        font-size: 1.2em;
                    }
                }

                .biometric-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 90%;
                    margin-top: 30px;

                    h2 {
                        font-size: 1em;
                        font-weight: 700;
                        color: $black;
                        text-transform: uppercase;
                        letter-spacing: 1px;

                        .dot-wrap {
                            letter-spacing: 5px;
                            font-weight: 800;
                            color: $dark-purple;
                        }

                        .data-wrap {
                            font-weight: 600;
                            text-transform: capitalize;
                        }
                    }
                }
            }

            .services-wrap {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                position: relative;

                &::after {
                    content: "";
                    width: 1px;
                    height: 100%;
                    left: 50%;
                    position: absolute;
                    background: radial-gradient(ellipse at top, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                }

                .service {
                    width: 50%;
                    padding: 5% 3% 4% 0;
                    position: relative;

                    &::after {
                        content: "";
                        width: 90%;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                    }

                    i {
                        font-size: 2.2em;
                        color: $middle-orange;
                        margin-bottom: 10px;
                        padding: 4% 3%;
                        border-radius: 50%;
                        background: rgb(237, 112, 20);
                        background: linear-gradient(
                            166deg,
                            rgba(237, 112, 20, 0.3014546883206407) 0%,
                            rgba(255, 255, 255, 0.20061435218618695) 100%
                        );
                    }

                    h2 {
                        font-size: 1em;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 1px;

                        span {
                            color: $dark-purple;
                            text-decoration: underline;
                            text-decoration-thickness: 3px;
                        }
                    }

                    .service-content {
                        margin-top: 5px;
                        p {
                            font-size: 0.9em;
                            // color: #605f5f;
                        }
                    }

                    &:nth-child(2),
                    &:nth-child(4) {
                        padding-left: 4%;
                    }
                }
            }

            .pricing-wrap {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;
                position: relative;

                &::after {
                    content: "";
                    width: 1px;
                    height: 100%;
                    left: 50%;
                    position: absolute;
                    background: radial-gradient(ellipse at top, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                }

                .pricing {
                    text-align: center;
                    width: 50%;
                    height: 100%;
                    padding: 0% 2%;

                    .pricing-content {
                        position: relative;
                        padding: 10% 2%;

                        &::after {
                            content: "";
                            width: 90%;
                            height: 1px;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                        }
                    }

                    i {
                        font-size: 2.2em;
                        color: $middle-orange;
                        margin-bottom: 10px;
                    }

                    h2,
                    h3 {
                        font-size: 1.5em;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }

                    ul {
                        margin: 0 auto;
                        margin-top: 20px;
                        text-align: left;
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        li {
                            font-size: 1em;
                            margin-bottom: 10px;
                        }

                        li:before {
                            content: "\2714\0020";
                            font-weight: 900;
                            margin-right: 7px;
                            color: $middle-orange;
                        }
                    }

                    button {
                        margin-top: 20px;
                        padding: 10px 20px;
                        border-radius: 5px;
                        letter-spacing: 1px;
                        border: none;
                        background: $dark-purple;
                        color: #ffffff;
                        font-size: 0.9em;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background: $lighter-dark-purple;
                        }
                    }
                }
            }

            .fun-fact-wrap {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                flex-wrap: wrap;
                position: relative;

                .fun-fact {
                    width: 25%;
                    min-height: 100%;
                    padding: 5% 3%;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 2px;
                        height: 100%;
                        top: 0;
                        right: 0;
                        background: radial-gradient(ellipse at top, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                    }

                    h3 {
                        margin-top: 15px;
                    }

                    i {
                        font-size: 2.2em;
                        color: $middle-orange;
                        margin-bottom: 10px;

                        &:nth-child(2),
                        &:nth-child(4) {
                            color: $dark-purple;
                        }
                    }

                    h2 {
                        font-size: 1em;
                        font-weight: 700;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }

                    h3 {
                        font-size: 1.2em;
                        span {
                            color: $dark-purple;
                        }
                    }
                }
            }
        }

        .resume_sect{

            .title{
                display: flex;
                align-items: center;
                text-transform: uppercase;
                position: relative;
                padding: 20px 20px 20px 0;
                
                &::after{
                    content: "";
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                    margin-left: 10px;
                }

                i {
                    font-size: 2em;
                    color: $dark-orange;
                }

                h2 {
                    margin-left: 10px;
                    font-weight: 500;
                    font-size: 1.1em;
                }
            }

            .resume_wrap {
                .work_education_wrap {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
    
                    .grey{
                        color: #999;
                        border-color: #999 !important;
                    }
    
                    &:after{
                        content: "";
                        width: 2px;
                        height: 100%;
                        left: 50%;
                        top: 0;
                        position: absolute;                 
                        background: radial-gradient(ellipse at top, darken(#dddddd, 10%) 0%, rgba(255, 255, 255, 0) 70%);
                    }
                    
                    .resume {
                        width: 50%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
    
                        &:nth-child(2) {
                            padding-left: 5%;
                        }
    
                        .resume_box {
                            padding: 7% 5% 7% 0;
                            position: relative;
    
                            &::after{
                                content: "";
                                width: 100%;
                                height: 1px;
                                bottom: 0;
                                left: 0;
                                position: absolute;
                                background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                                margin-left: 10px;
                            }
    
                            h3{
                                width: fit-content;
                                padding: 1px 5px;
                                border-radius: 5px;
                                font-size: 0.8em;
                                font-weight: 400;
                                border: 1px solid $dark-orange;
                            }
    
                            h4{
                                font-size: 1.1em;
                                font-weight: 800;
                                margin-top: 10px;
                                
                                a{
                                    i{
                                        transition: all 0.3s ease-in-out;
                                    }
                                    &:hover{
                                        i{
                                            color: $dark-orange;
                                        }
                                    }
                                }
                            }
    
                            h5{
                                font-size: 0.9em;
                                font-weight: 400;
                                margin-bottom: 10px;
                                color: #656565c1;
                            }
    
                            p{
                                font-size: 1em;
                                font-weight: 500;
                                line-height: 1.7em;
    
                                span{
                                    color: $dark-purple;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
            }

            .abilities_wrap{
                width: 100%;

                .ability_wrap{
                    position: relative;

                    .ability{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;

                        &:nth-child(2){
                            margin-top: 30px;
                        }

                        .ability_box{
                            min-width: 50%;
                            max-width: 50%;
                            padding: 3% 3% 5% 0;
                            position: relative;

                            &:nth-child(2){
                                padding-left: 5%;
                            }

                            &:nth-child(1){
                                &::before{
                                    content: "";
                                    width: 2px;
                                    height: 100%;
                                    right: 0;
                                    top: 0;
                                    position: absolute;
                                    background: radial-gradient(ellipse at top, darken(#dddddd, 10%) 0%, rgba(255, 255, 255, 0) 70%);
                                }
                            }
                        }

                        .knowledge{
                            ul{
                                display: flex;
                                justify-content: space-between;
                                margin-top: 20px;
                                width: 90%;
                                
                                li{
                                    font-size: 1.05em;
                                    font-weight: 500;
                                    line-height: 1.7em;
                                    color: #424242db;

                                    &::before{
                                        content: "✓";
                                        margin-right: 10px;
                                        color: $dark-purple;
                                        font-weight: bold;
                                        font-size: 1.1em;
                                    }
                                }
                            }
                        }

                        .coding{
                            ul{
                                display: flex;
                                justify-content: space-between;
                                margin-top: 20px;
                                width: 90%;
                                
                                li{
                                    font-size: 1.05em;
                                    font-weight: 500;
                                    line-height: 1.7em;
                                    color: #424242db;

                                    &::before{
                                        content: "✓";
                                        margin-right: 10px;
                                        color: $dark-purple;
                                        font-weight: bold;
                                        font-size: 1.1em;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }

    .my-profile {
        width: 32%;
        height: 100%;
        background: #ffffff;
        transform: scale(110%);
        border-radius: 5px;
        position: relative;

        .first-layer-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: -3%;
            top: -2%;
            // transform: rotate(-2deg);
            background: #4a2e6c77;
            border-radius: 5px;
            z-index: -100;
        }

        .profile-wrap {
            position: relative;
            z-index: 100;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background-color: #fefefe;

            .profile-img {
                position: relative;
                height: 60%;
                width: 100%;
                border-radius: 5px;
                background-image: url("../../assest/img/profile-pic.jpg");
                background-size: 100% 100%;
                background: contain;

                &::before {
                    content: "";
                    clip-path: polygon(0 74%, 0% 100%, 59% 100%);
                    width: 100%;
                    height: 300px;
                    position: absolute;
                    top: 27%;
                    left: auto;
                    background: white;
                }

                &::after {
                    content: "";
                    clip-path: polygon(46% 100%, 100% 100%, 100% 53%);
                    width: 100%;
                    height: 250px;
                    position: absolute;
                    top: 39%;
                    left: auto;
                    background: white;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    object-fit: cover;
                }
            }

            .profile-content {
                height: 31%;
                padding: 3% 7%;
                display: flex;
                flex-direction: column;
                text-align: center;

                h3 {
                    font-size: 2em;
                    font-weight: 600;
                    text-transform: capitalize;
                }

                h4 {
                    font-size: 1em;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: $dark-orange;
                    margin-top: 15px;
                }

                .social-media {
                    margin: 0 auto;
                    margin-top: 15px;
                    width: 30%;
                    display: flex;
                    justify-content: space-between;

                    a {
                        font-size: 1.1em;
                        i {
                            transition: 0.3s all ease-in-out;
                        }
                        &:hover {
                            i {
                                color: $lighter-dark-purple;
                            }
                        }
                    }
                }
            }

            .contact-wrap {
                height: 9%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: center;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 1px;
                    top: 0;
                    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
                }

                div {
                    width: 50%;
                    height: 100%;
                    padding: 5% 0;

                    i {
                        transition: 0.3s all ease-in-out;
                    }

                    a {
                        letter-spacing: 1px;
                        color: $black;
                        font-size: 0.95em;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: $dark-orange;

                            i {
                                color: $dark-orange;
                            }
                        }
                    }

                    &:nth-child(1) {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "";
                            width: 1px;
                            height: 100%;
                            right: 0;
                            top: 0;
                            background: radial-gradient(ellipse at center, #656565 0%, rgba(255, 255, 255, 0) 70%);
                        }
                    }

                    &:nth-child(2) {
                        border-radius: 0 0 5px 0;
                    }
                }
            }
        }
    }
}
